@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Gym Shop</h1>
    <p>
        In our gym shop, you will find variety of products that you can order online, and we will bring you them to your home.
    </p>
    <br />
    <div>
        <img src="https://cdn.logojoy.com/wp-content/uploads/2018/05/04120044/1563-768x591.png" alt="Fitness Logo Ideas: Make Your Own Fitness Brand Logo - Looka" />
    </div>
</div>
